# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.


# Build
cython==0.29.23

# Dependencies
Click==8.0.1
pyyaml==5.4.1