# Build
auditwheel>=4.0.0
cython==0.29.23
pyinstaller==4.3
wheel>=0.36.2

# Format
black==21.6b0
flake8==3.9.2

# Documentation
mkdocs==1.2.1

# Testing
pytest==6.2.4
pytest-cov==2.12.1

# Stub packages
types-PyYAML==6.0.1
